flight_price_tracker:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: <YOUR_ACCOUNT>   # ex: AJIQNKH-UB02860
      user: <YOUR_USER>         # ex: KEVANTAMOM
      role: ACCOUNTADMIN
      warehouse: WH_XS
      database: FLIGHT_DB
      schema: STG

      # --- Auth options ---
      # Option A: Password auth
      # password: <YOUR_PASSWORD>

      # Option B: Key pair auth (recommended)
      private_key_path: /Users/<your_user>/.ssh/rsa_key.p8
      authenticator: username_password