# --- Python ---
.venv/
__pycache__/
*.pyc
*.egg-info/

# --- Env vars ---
.env

# --- dbt ---
target/
logs/
dbt_modules/

# --- OS files ---
.DS_Store

# --- VS Code ---
# Ignore tout le dossier .vscode sauf settings.json
.vscode/*
!.vscode/settings.json

# --- Streamlit ---
.streamlit/